mod-fqm-manager:
  query-retention-duration: 3h
  max-query-size: ${MAX_QUERY_SIZE:1250000}
  bypass-permissions: false # local development ONLY
  permissions-cache-timeout-seconds: 60
  entity-type-cache-timeout-seconds: 300
  zombie-query-max-wait-seconds: 300
server:
  port: 8081
spring:
  application:
    name: mod-fqm-manager
  datasource:
    writer:
      username: ${DB_USERNAME:postgres}
      password: ${DB_PASSWORD:postgres}
      url: jdbc:postgresql://${DB_HOST:localhost}:${DB_PORT:5432}/${DB_DATABASE:db}
    reader:
      username: ${DB_USERNAME:postgres}
      password: ${DB_PASSWORD:postgres}
      url: jdbc:postgresql://${DB_HOST_READER:localhost}:${DB_PORT_READER:5432}/${DB_DATABASE:db}
    hikari:
      # time in ms to wait for db connection
      initialization-fail-timeout: 1800000
      data-source-properties:
        reWriteBatchedInserts: true
      maximum-pool-size: 12
  sql:
    init:
      # to boot up application despite of any DB connection issues
      continue-on-error: false
  jpa:
    hibernate:
      ddl-auto: none
      naming:
        physical-strategy: org.hibernate.boot.model.naming.CamelCaseToUnderscoresNamingStrategy
        implicit-strategy: org.springframework.boot.orm.jpa.hibernate.SpringImplicitNamingStrategy
    properties:
      hibernate:
        dialect: org.hibernate.dialect.PostgreSQLDialect
        format_sql: true
        jdbc:
          batch_size: 50
    show-sql: true
  liquibase:
    enabled: true
    change-log: classpath:db/changelog/changelog-master.xml
  jackson:
    deserialization:
      fail-on-unknown-properties: false
      accept-single-value-as-array: true
  mustache:
    check-template-location: false
  cloud:
    openfeign:
      okhttp:
        enabled: true
  feign:
    client:
      config:
        default:
          connectTimeout: 5000
          readTimeout: 5000
          loggerLevel: BASIC
    httpclient:
      enabled: true
  task:
    execution:
      pool:
        core-size: 12
        max-size: 12 # Max number of concurrent async tasks
        queue-capacity: 1000
      thread-name-prefix: mod-fqm-manager-
  banner:
    location: classpath:/banner.txt
coffee-boots:
  cache:
    spec:
      queryCache: maximumSize=500,expireAfterWrite=1m
      userTenantCache: maximumSize=100,expireAfterWrite=30s
folio:
  is-eureka: ${IS_EUREKA:false}
  tenant:
    validation:
      enabled: true
management:
  endpoints:
    web:
      exposure:
        include: info,health,env,httptrace
      base-path: /admin
  #  endpoint:
  #    health:
  #      show-details: always
  #      show-components: always
  ###################################################
  # Disable all checks except for readiness
  ###################################################
  health:
    defaults:
      enabled: false
    readinessstate:
      enabled: true

logging:
  level:
    org:
      folio:
        spring:
          i18n: ERROR

debug: false
