{
    "id" : 0cb79a4c-f7eb-4941-a104-745224ae0292,
    "name":"item_details",
    "labelAlias" : "Item",
    "columns": [
        {
            "name": "id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Id",
            "visibleByDefault": false
        },
        {
            "name": "item_effective_call_number",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Effective Call Number",
            "visibleByDefault": false
        },
        {
            "name": "item_level_call_number",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Call Number",
            "visibleByDefault": false
        },
        {
            "name": "item_effective_shelving_order",
            "dataType":{
              "dataType": "stringType"
            },
            "labelAlias": "Shelving Order",
            "visibleByDefault": false
        },
        {
            "name": "item_holdings_record_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Holdings Record Id",
            "visibleByDefault": false
        },
        {
            "name": "item_status",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Status",
            "visibleByDefault": true
        },
        {
            "name": "item_copy_number",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Copy Number",
            "visibleByDefault": false
        },
        {
            "name": "item_barcode",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Barcode",
            "visibleByDefault": true
        },
        {
            "name": "item_effective_loaction_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Location Id",
            "visibleByDefault": false
        },
        {
            "name": "item_effective_location_name",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Location Name",
            "visibleByDefault": false
        },
        {
            "name": "item_permanent_location_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Permanent Id",
            "visibleByDefault": false
        },
        {
            "name": "item_permanent_location_name",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Item Permanent Location Name",
            "visibleByDefault": false
        },
        {
            "name": "item_material_type_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Material Id",
            "visibleByDefault": false
        },
        {
            "name": "item_material_type",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Material Type",
            "visibleByDefault": true
        },
        {
            "name": "instance_id",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Instance Id",
            "visibleByDefault": false
        },
        {
            "name": "instance_title",
           "dataType":{
            "dataType":"stringType"
            },
            "labelAlias": "Instance Title",
            "visibleByDefault": true
        },
        {
            "name": "instance_primary_contributor",
            "dataType":{
              "dataType":"stringType"
            },
            "labelAlias": "Instance Primary Contributor",
            "visibleByDefault": false
        }
    ]
}
